<{/*引入头部资源文件*/}>
<{include file="common/header"}>

<{/*引入左侧导航文件*/}>
<{include file="common/nav"}>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{:url('index/index')}>"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <li class="breadcrumb-item active">文章分类</li>
        </ol>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lable" onclick="jump('<{:url('article_category/add')}>')"><i class="fas fa-plus"> 添加</i></button>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                分类列表
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>分类名称</th>
                            <th>父级分类</th>
                            <th>分类类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{volist name='info' id='v' key='k'}>
                        <tr>
                            <td><{$k}></td>
                            <td><{$v.cate_name}></td>
                            <td><{$v.pid}></td>
                            <td><{$v.type}></td>
                            <td>
                                <button class="btn btn-primary" onclick="jump('<{:url(\'article_category/edit\',array(\'id\'=>$v.id))}>')">编辑</button>
                                <button class="btn btn-danger" onclick="deleteById('<{:url('article_category/delete')}>',<{$v.id}>,'article_cate')">删除</button>
                            </td>
                        </tr>
                        <{/volist}>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<{/*引入底部公共文件*/}>
<{include file="common/footer"}>
