<{/*引入头部资源文件*/}>
<{include file="common/header"}>
<style>
    .red {
        color: red;
        cursor: pointer;
    }

    .blue {
        color: blue;
        cursor: pointer;
    }

    #file {
        position: absolute;
        opacity: 0;
        left: 25%;
        z-index: 99;
    }
</style>
<{/*引入左侧导航文件*/}>
<{include file="common/nav"}>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{:url('index/index')}>"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="<{:url('goods_type/index')}>">商品类型列表</a>
            </li>
            <li class="breadcrumb-item active">编辑</li>
        </ol>

        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form class="form-horizontal" role="form" style="padding:1rem;" onsubmit="return false;" id="form"
                          action="<{:url('goods_type/save')}>" method="post"  enctype="multipart/form-data">
                        <input type="hidden" name="__token__" value="<{$Request.token}>">
                        <input type="hidden" value="edit" name="action">
                        <input type="hidden" value="<{$info.id}>" name="id">
                        
                        <div class="form-group" style="line-height: 40px;">
                            <label for="type_name" class="col-sm-2 control-label" style="float: left;">商品类型</label>
                            <div class="">
                                <input type="text" class="form-control col-sm-8" id="type_name" name="type_name" placeholder="" style="" value="<{$info.type_name}>">
                            </div>
                        </div>
                        
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="" class="col-sm-2 control-label" style="float: left;"></label>
                            <div class="">
                                <button class="btn btn-primary" id="save"><i class="fas fa-save"> 保存</i></button>
                                <button class="btn btn-danger" type="reset"><i class="fas fa-redo-alt"> 重置</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <{/*引入底部公共文件*/}>
        <{include file="common/footer"}>

        <script>

            $(function () {
                var ua = navigator.userAgent.toLowerCase();
                var screenwidth = window.screen.width;
                if (!/iphone|ipad|ipod/.test(ua)) {
                    $("#page-top").attr("scrolling", "auto");
                } else {
                    $('#page-top').width(screenwidth + 'px');
                }

                $('#save').click(function(){
                    $('#form').ajaxSubmit({
                        success:function(r){
                            var r = $.parseJSON(r);
                            if(r.code == 200){
                                layer.msg(r.msg,{icon:1},function(){
                                    jump('<{:url('goods_type/index')}>');
                                })
                            }else if(r.code==101){
                                layer.alert(r.msg,{icon:2});
                            }else{
                                layer.alert(r.msg,{icon:2});
                                $("[name='__token__']").val(r.result.token);
                            }
                        }
                    })
                })
            });

        </script>

