<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div></div>
    <div>
        <button type="button" class="btn  btn-success getpage edit" data-toggle="modal" data-url="<{:url('goods/add')}>">基本信息</button>
        <button type="button" class="btn btn-default" data-toggle="modal">会员价格</button>
        <button type="button" class="btn btn-success getpage" data-url="<{:url('goods/ajax_goods_attribute')}>" data-toggle="modal">商品属性</button>
        <button type="button" class="btn btn-success getpage" data-url="<{:url('goods/ajax_goods_photo')}>" data-toggle="modal">商品相册</button>
    </div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <div class="table-responsive">
            <form class="form-horizontal" role="form" style="padding:1rem;" onsubmit="return false;" id="form"
                  action="<{:url('goods/save')}>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="__token__" value="<{$Request.token}>">
                <input type="hidden" value="add" name="action">
                <input type="hidden" value="0" name="id">
                <input type="hidden" name="pic">
                <{volist name='level' id='lv'}>
                <div class="form-group" style="line-height: 40px;">
                    <label for="member_price<{$lv.id}>" class="col-sm-2 control-label" style="float: left;"><{$lv.level_name}></label>
                    <div class="">
                        <input type="number" class="form-control col-sm-8" id="member_price<{$lv.id}>"  name="member_price[]"
                               placeholder="" style="">
                    </div>
                </div>
                <{/volist}>

                <div class="form-group" style="width: 100%;line-height: 40px;">
                    <label for="" class="col-sm-2 control-label" style="float: left;"></label>
                    <div class="">
                        <button class="btn btn-primary" id="save"><i class="fas fa-save"> 保存</i></button>
                        <button class="btn btn-danger" type="reset"><i class="fas fa-redo-alt"> 重置</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>

        $(function () {


        });

    </script>

