<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div></div>
    <div>
        <button type="button" class="btn  btn-success getpage" data-toggle="modal" data-url="<{:url('goods/ajax_base_info')}>">基本信息</button>
        <button type="button" class="btn btn-success getpage" data-url="<{:url('goods/ajax_member_price')}>" data-toggle="modal">会员价格</button>
        <button type="button" class="btn btn-default"  data-toggle="modal">商品属性</button>
        <button type="button" class="btn btn-success getpage" data-url="<{:url('goods/ajax_goods_photo')}>" data-toggle="modal">商品相册</button>
    </div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <div class="table-responsive">
            <form class="form-horizontal" role="form" style="padding:1rem;" onsubmit="return false;" id="form"
                  action="<{:url('goods/save')}>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="__token__" value="<{$Request.token}>">
                <input type="hidden" value="add" name="action">
                <input type="hidden" value="0" name="id">
                <input type="hidden" name="pic">
                <div class="form-group" style="line-height: 40px;">
                    <label for="goods_type_id" class="col-sm-2 control-label" style="float: left;">所属类型</label>
                    <div class="">
                        <select name="goods_type_id" class="form-control col-sm-8" id="goods_type_id">
                            <option value="0">请选择</option>
                            <{if !empty($goods_type)}>
                            <{volist name='goods_type' id='gtv'}>
                                <option value="<{$gtv.id}>"><{$gtv.type_name}></option>
                            <{/volist}>
                            <{/if}>
                        </select>
                    </div>
                </div>

                <!-- 动态获取商品类型对应的属性内容 -->
                <div id="attribute_box">

                </div>
                <!-- 动态获取商品类型对应的属性内容 -->

                <div class="form-group" style="width: 100%;line-height: 40px;">
                    <label for="" class="col-sm-2 control-label" style="float: left;"></label>
                    <div class="">
                        <button class="btn btn-primary" id="save"><i class="fas fa-save"> 保存</i></button>
                        <button class="btn btn-danger" type="reset"><i class="fas fa-redo-alt"> 重置</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>

        $(function () {
            $(document).on('change','#goods_type_id',function(r){
                var goods_type_id = $(this).val();
                var url = "<{:url('goods/ajax_attribute_list')}>";
                $.post(url,{goods_type_id:goods_type_id},function(r){
                    $('#attribute_box').html(r);
                })
            })

            $(document).on('click', '.add_attr_btn', function () {
                var obj = $(this).parents('.goods_attr_item');
                var html = obj.prop("outerHTML");
                html = html.replace('fa-plus-circle add_attr_btn','fa-minus-circle remove_attr_btn');
                obj.after(html);
            })

            $(document).on('click','.remove_attr_btn',function(){
                $(this).parents('.goods_attr_item').remove();
            })
        });

    </script>

