<{/*引入头部资源文件*/}>
<{include file="common/header"}>
<style>
    .btn.disabled:hover{
        cursor:not-allowed;
    }
</style>
<{/*引入左侧导航文件*/}>
<{include file="common/nav"}>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{:url('index/index')}>"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <li class="breadcrumb-item active">配置设置</li>
        </ol>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lable" onclick="jump('<{:url('config/add')}>')"><i class="fas fa-plus"> 添加</i></button>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                配置列表
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="8%">英文名称</th>
                            <th width="8%">中文名称</th>
                            <th width="8%">配置类型</th>
                            <th width="8%">表单类型</th>
                            <th width="8">默认值</th>
                            <th width="8%">可选值</th>
                            <th width="8%">是否启用</th>
                            <th width="5%">排序</th>
                            <th width="15%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{volist name='info' id='v' key='k'}>
                        <tr>
                            <td><{$k}></td>
                            <td><{$v.ename}></td>
                            <td><{$v.cname}></td>
                            <td><{$v.config_type_text}></td>
                            <td><{$v.form_type}></td>
                            <td style="max-width: 120px;"><{$v.value}></td>
                            <td style="max-width: 120px;"><{$v.values}></td>
                            <td align="center"><{$v.status_text}></td>
                            <td><input type="number" value="<{$v.sort}>" style="max-width: 60px;text-align: center;" onchange="ajaxSort('<{:url(\'config/ajaxSort\')}>',<{$v.id}>,$(this),'config')"></td>
                            <td>
                                <button class="btn btn-primary" onclick="jump('<{:url(\'config/edit\',array(\'id\'=>$v.id))}>')"><i class="fas fa-edit"></i> 编辑</button>
                                <button class="btn btn-danger" onclick="deleteById('<{:url('config/delete')}>',<{$v.id}>,'config')"><i class="fas fa-trash"></i> 删除</button>
                            </td>
                        </tr>
                        <{/volist}>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<{/*引入底部公共文件*/}>
<{include file="common/footer"}>
