<{/*引入头部资源文件*/}>
<{include file="common/header"}>
<style>
    .upload_box:hover{
        background-color: #eaeaea;
        cursor: pointer;
    }
</style>
<{/*引入左侧导航文件*/}>
<{include file="common/nav"}>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{:url('index/index')}>"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <li class="breadcrumb-item active">配置详情</li>
        </ol>


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div></div>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#lable" onclick="change_info()"><span id="config_type_text">商品配置</span></button>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form class="form-horizontal" role="form" style="padding:1rem;" onsubmit="return false;" id="form"
                          action="<{:url('config/save_info')}>" method="post"  enctype="multipart/form-data">
                        <input type="hidden" name="config_type" id="config_type" value="0">
                        <div id="form_content">
                            <!-- 异步获取表单内容 -->
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="" class="col-sm-2 control-label" style="float: left;"></label>
                            <div class="">
                                <button class="btn btn-primary" id="save"><i class="fas fa-save"> 保存</i></button>
                                <button class="btn btn-danger" type="reset"><i class="fas fa-redo-alt"> 重置</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <{/*引入底部公共文件*/}>
        <{include file="common/footer"}>

        <script>

            $(function () {

                //获取表单内容数据
                ajax_info(0);

                var ua = navigator.userAgent.toLowerCase();
                var screenwidth = window.screen.width;
                if (!/iphone|ipad|ipod/.test(ua)) {
                    $("#page-top").attr("scrolling", "auto");
                } else {
                    $('#page-top').width(screenwidth + 'px');
                }

                $(document).on('click','#save',function(){
                    // var loading = layer.load();
                    $('#form').ajaxSubmit({
                        success:function(r){
                            var r = $.parseJSON(r);
                            if(r.code == 200){
                                layer.msg(r.msg,{icon:1},function(){
                                    var config_type = $('#config_type').val();
                                    ajax_info(config_type);
                                })
                            }else if(r.code==101){
                                layer.alert(r.msg,{icon:2});
                            }else{
                                layer.alert(r.msg,{icon:2});
                                $("[name='__token__']").val(r.result.token);
                            }

                            // layer.close(loading);
                        }
                    })
                })

                $(document).on('mouseover','.show_img',function(){
                    $(this).next().css('z-index',1000).show();
                })
                $(document).on('mouseout','.show_img',function(){
                    $(this).next().css('z-index',0).hide();
                })

                //圖片預覽
                $(document).on('change','.img_file',function () {
                    var t = this;
                    if (t.files && t.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (evt) {
                            $(t).parents('.form_item_box').find('img').hide();
                            $(t).parents('.form_item_box').find('.img_show_box').html('<img src="' + evt.target.result + '" style="height:40px;position: relative;top:-4px;" />');
                        }
                        reader.readAsDataURL(t.files[0]);
                    } else {
                        t.parents('.form_item_box').find('.img_show_box').html('<div style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>');
                    }
                })

            });

            //异步获取表单数据
            function ajax_info(config_type){
                var url = "<{:url('config/ajax_info')}>";
                var loadding = layer.load();
                $.post(url,{config_type:config_type},function(r){
                    $('#form_content').html(r);
                    layer.close(loadding);
                })

            }

            //切换表单数据
            function change_info(){
                var config_type = Math.abs($('#config_type').val()-1);
                $('#config_type').val(config_type);
                if(parseInt(config_type)==0){
                    $('#config_type_text').html('商品配置');
                }else{
                    $('#config_type_text').html('网站配置');
                }

                ajax_info(config_type);
            }

        </script>