<{/*引入头部资源文件*/}>
<{include file="common/header"}>

<{/*引入左侧导航文件*/}>
<{include file="common/nav"}>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{:url('index/index')}>"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="<{:url('brand/index')}>">商品列表</a>
            </li>
            <li class="breadcrumb-item active">添加</li>
        </ol>

        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form class="form-horizontal layui-form" role="form" style="padding:10px;" action="{:url('Member/save')}" onsubmit="return false;" id="form" method="post">
                        <input type="hidden" value="{$Request.token}" name="__token__">
                        <input type="hidden" value="add" name="action">
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">會員姓名</label>
                            <div class="">
                                <input type="text" class="form-control col-sm-4" name="name" placeholder="" style="    float: left;"> &nbsp;(最多100個字)
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">電話號碼</label>
                            <div class="">
                                <input type="text" class="form-control col-sm-4" name="phone" placeholder="" style="    float: left;">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">性別</label>
                            <div class="">
                                <select class="form-control col-sm-4" name="sex">
                                    <option value="">請選擇</option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">出生日期</label>
                            <div class="input-group date col-sm-4" data-date-format="yyyy.mm.dd" style="    float: left;padding:0;" >
                                <input  type="text" class="form-control" placeholder="yyyy.mm.dd" name="birthday" value="">
                                <div class="input-group-addon" >
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">地址</label>
                            <div class="">
                                <input type="text" class="form-control col-sm-4" name="address" placeholder="" style="    ">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">Email</label>
                            <div class="">
                                <input type="text" class="form-control col-sm-4" name="email" placeholder="" style="    ">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">會員折扣</label>
                            <div class="">
                                <input type="number" class="form-control col-sm-4" name="discount" placeholder="" style="    " value="0">
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;">加入日期</label>
                            <div class="input-group date col-sm-4" data-date-format="yyyy.mm.dd" style="    float: left;padding:0;" >
                                <input  type="text" class="form-control" placeholder="yyyy.mm.dd" readonly name="add_time" value="">
                                <div class="input-group-addon" >
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%;line-height: 40px;">
                            <label for="firstname" class="col-sm-1 control-label" style="float: left;"></label>
                            <div class="">
                                <button class="btn btn-primary" id="save"><i class="far fa-save"> 保存</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<{/*引入底部公共文件*/}>
<{include file="common/footer"}>
